.sidedivs {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 1%;
  top: 15;
}

.labeltype {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
  color: white;
  position: relative;
  text-align: center;
}

#botversion {
  font-size: 20px;
}

.promotionbuttons {
  position: relative;
  top: 10;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 99px;  
  height: 99px;
  color: transparent;  /* hides text if any */
}

.promotionbuttons img {
  width: 99px; /* image stays same size */
  height: auto;
  display: inline-block;
  pointer-events: none; /* ensures clicks go to button, not image */
}

.promotiondiv {
  text-align: center;
}

#textdisplay {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
}






